# Base de données
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=notes_moyenne

# Authentification
JWT_SECRET=change_this_secret_in_production
JWT_EXPIRES_IN=7d
GOOGLE_CLIENT_ID=

# Serveur
PORT=4000

# Agrégateur de paiement Mobile Money (CinetPay ou PayDunya)
PAYMENT_API_KEY=
PAYMENT_API_SECRET=
PAYMENT_SITE_ID=

# CinetPay
CINETPAY_API_KEY=
CINETPAY_SITE_ID=
# URL publique du backend appelée par CinetPay après paiement (ex. https://api.moyennepro.ci/api/paiements/webhook-cinetpay)
CINETPAY_NOTIFY_URL=
# URL vers laquelle CinetPay redirige l'enseignant après paiement (ex. https://moyennepro.ci/abonnement)
CINETPAY_RETURN_URL=
